.tipo{
    text-align: center;
    padding: 32px;
}
.tipo h3{
    font-family: 'Prata';
    color: #212121;
    font-size: 32px;
    font-weight: 400;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}
.itens{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;   
    flex-wrap: wrap;
}